<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>Search</title>
</head>

<body>
  {% include 'navbar.html' %}
  <main class="pt-5">
    {% if query %}
    <div class="container">
      <h2>Search results for "{{query}}" :</h2>
      {% if results %}
      <ul>
        {% for result in results %}
        <li> <a href="{% url 'story-details' pk=result.id %}">{{ result.title }}</a>.</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endif %}
  </main>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>