{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>{{ chapter.title }}</title>
</head>

<body>
  <section class="container">
    <header class="text-center">

      <h3 class="lh-1 mb-0">{{ chapter.story.title }}</h3>
      <h2 class="lh-1 mb-0">{{ chapter.title }}</h2>
      <span class="text-muted">Published: {{ chapter.created_at }}</span>
      <nav>
        <ul class="nav my-2">
          {% if navigation.prv %}
          <li class="nav-item"><a class=" btn btn-primary"
              href="{% url 'story-chapter' pk=story.id slug=navigation.prv.slug %}">Previous Chapter</a></li>
          {% endif %}

          {% if navigation.nxt %}
          <li class="nav-item ms-auto">
            <a class=" btn btn-primary" href="{% url 'story-chapter' pk=story.id slug=navigation.nxt.slug %}">Next
              Chapter</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <p>{{ chapter.body }}</p>
      <ul class="nav my-2">

        {% if navigation.prv %}
        <li class="nav-item"><a class=" btn btn-primary"
            href="{% url 'story-chapter' pk=story.id slug=navigation.prv.slug %}">Previous Chapter</a></li>
        {% endif %}

        {% if navigation.nxt %}
        <li class="nav-item ms-auto"><a class=" btn btn-primary"
            href="{% url 'story-chapter' pk=story.id slug=navigation.nxt.slug %}">Next Chapter</a></li>
        {% endif %}
      </ul>
    </main>
  </section>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>