<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stoy details</title>
</head>

<body>
  <h1>Story details page</h1>
  <h3>Author: {{ story.author.username }}</h3>
  <ul>
    {% for chapter in story.chapter_set.all %}
    <li><a href="{% url 'story-chapter' pk=story.id slug=chapter.slug %}">{{chapter.title}}</a></li>
    {% endfor %}
  </ul>
</body>

</html>